* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: Galibier,Helvetica Neue,Helvetica,Arial,sans-serif;
}
a {
  color: black;
}
a:hover {
  color: black;
}
p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* ul {
  diplay: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */
#wrapper {
  width: 1020px;
  /* width: 970px; */
  margin: 0 auto;
}
#header {
  background-color: #ffff00;
  width: 1020px;
  height: 60px;
  /* position: fixed; */
}
#header-wrap {
  margin: 0;
  list-style: none;
  display: flex;
  width: 100%;
  font-weight: bold;
}
#header-logo {
  padding: 20px 0 0 15px;
  width: 300px;
}
#header-search {
  padding-top: 12px;
  width: 300px;
}
.search_container input[type="text"] {
  padding-bottom: 1px;
  padding-left: 5px;
  background: #FFFFFF;
  border: none;
  height: 30px;
  border: 1px solid #888888;
}
.search_container input[type="submit"] {
    cursor: pointer;
    border: none;
    background: #DDDDDD;
    color: #555555;
    outline: none;
    width: 3.6em;
    height: 31px;
}
#main {
  width: 1020px;
  overflow: hidden;
}
#contents {
  float: left;
  width: 1020px;
}
.dmenu {
  /* position: fixed; */
}
ul.dmenu {
  list-style-type: none;
  margin: 7px 0;
  padding: 0;
  padding-left: 5px;
  display: flex;
}
ul.dmenu li {
    /* z-index: 1000; */
    position: relative;
    padding-left: 5px;
    width: 150px;
    font-weight: bold;
    font-size: 14px;
}
#results {
  list-style-type: none;
}
#results li {
  /* display: flex; */
  float: left;
  /* width: 350px;
  height: 250px;
  margin: 0px 5px 10px 5px; */
}
.panel {
  padding-bottom: 4px;
}
.details {
  line-height: 1.2rem;
}
#footer {
  background-color: #ffff00;
  padding-top: 10px;
  text-align: center;
  clear: both;
  width: 1020px;
  height: 50px;
}
#footer-modify {
  font-size: 80%;
}
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}
.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}
.btn {
  padding: 0px;
  background-color: white;
  border-color: white;
  border: 0px;
}
.fa-spin {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}




/* .movie_field {
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
}
 #page-field {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.page-navi {
  margin: 15px 0 0 0;
  padding: 10px 10px 5px;
  background: #eee;
  text-align: center;
}
div {
  display: block;
} */
